.header {
    background-color: rgba(255, 255, 255, 0);
    width: 800px;
    height: 550px;
}

.header h1 {
    font-size: 66px;
    font-weight: 400px;
    margin: 0;
}

.header h3 {
    color: rgb(167, 167, 167);
}

.buttonHolder {
    padding-top: 2rem;
}

.resumeButton {
    background-color: rgb(238, 234, 234);
    border-radius: 30px;
    width: 9rem;
    height: 4rem;
    color: black;
    font-size: 17px;
}

.animatedText {
    opacity: 0;
    animation: fadeInOut 6s infinite;
    background: radial-gradient(circle, rgb(230, 230, 230), rgb(172, 172, 172));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}